USE [master]
GO
/****** Object:  Database [FilmLovers]    Script Date: 4/2/2024 8:21:51 PM ******/
CREATE DATABASE [FilmLovers]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FilmLovers', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAIHOA\MSSQL\DATA\FilmLovers.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FilmLovers_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MAIHOA\MSSQL\DATA\FilmLovers_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FilmLovers].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FilmLovers]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[firstname] [nvarchar](75) NULL,
	[lastname] [nvarchar](75) NULL,
	[address] [nvarchar](255) NULL,
	[date_of_birth] [date] NULL,
	[isActive] [bit] NULL,
	[image_link] [varchar](255) NULL,
	[role] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CastPerson]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CastPerson](
	[film_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[character] [nvarchar](50) NOT NULL,
	[checked_status] [varchar](10) NULL,
	[send_at] [date] NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[film_id] ASC,
	[person_id] ASC,
	[character] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrewPerson]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrewPerson](
	[film_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[position_id] [int] NOT NULL,
	[checked_status] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[film_id] ASC,
	[person_id] ASC,
	[position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CrewPosition]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CrewPosition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavouriteFilm]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavouriteFilm](
	[playlist_id] [int] NOT NULL,
	[film_id] [int] NOT NULL,
	[added_at] [timestamp] NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[type] [varchar](10) NULL,
	[language] [varchar](100) NULL,
	[country] [varchar](100) NULL,
	[release_year] [int] NULL,
	[release_month] [int] NULL,
	[release_status] [varchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[story_line] [nvarchar](1000) NULL,
	[runtime] [int] NULL,
	[visible_status] [varchar](10) NULL,
	[add_date] [date] NULL,
	[photo] [varchar](255) NULL,
	[checked_status] [varchar](10) NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Genre]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Genre](
	[genre_name] [nvarchar](50) NOT NULL,
	[film_id] [int] NOT NULL,
	[checked_status] [varchar](10) NULL,
	[send_at] [date] NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[genre_name] ASC,
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film_Keyword]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film_Keyword](
	[keyword] [nvarchar](50) NOT NULL,
	[film_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[keyword] ASC,
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keyword]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keyword](
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](75) NULL,
	[lastname] [nvarchar](75) NULL,
	[gender] [varchar](10) NULL,
	[image_link] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[short_bio] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[film_id] [int] NULL,
	[image_link] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[checked_status] [varchar](10) NULL,
	[send_at] [date] NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayList]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[is_public] [bit] NULL,
	[created_at] [timestamp] NOT NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[account_id] [int] NOT NULL,
	[film_id] [int] NOT NULL,
	[score] [int] NULL,
	[review_id] [int] NULL,
	[rated_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reaction]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reaction](
	[account_id] [int] NOT NULL,
	[review_id] [int] NOT NULL,
	[isUpvote] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportReason]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportReason](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reason] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportReview]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportReview](
	[account_id] [int] NOT NULL,
	[review_id] [int] NOT NULL,
	[sent_at] [timestamp] NOT NULL,
	[reason_id] [int] NULL,
	[explain] [nvarchar](500) NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[review_id] ASC,
	[sent_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NULL,
	[content] [nvarchar](1000) NULL,
	[is_spoiler] [bit] NULL,
	[film_id] [int] NULL,
	[account_id] [int] NULL,
	[send_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 4/2/2024 8:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[film_id] [int] NULL,
	[url] [varchar](255) NULL,
	[title] [nvarchar](255) NULL,
	[type] [varchar](20) NULL,
	[checked_status] [varchar](10) NULL,
	[send_at] [date] NULL,
	[account_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [email], [password], [firstname], [lastname], [address], [date_of_birth], [isActive], [image_link], [role]) VALUES (2, N'anh2', N'anh2@email', N'5439-112-10241-6119-127-96113-2039-9-55-54-10511497-126-82-46-102125-354684535134-49-7710-69-9858109-14-844432-235679917-42120867712-115488948879596-30-45-48722477121', N'Nguyen', N'Anh', N'address-none', CAST(N'2004-01-19' AS Date), 1, N'img-none', N'admin')
INSERT [dbo].[Account] ([id], [username], [email], [password], [firstname], [lastname], [address], [date_of_birth], [isActive], [image_link], [role]) VALUES (4, N'na', N'na@emal', N'5439-112-10241-6119-127-96113-2039-9-55-54-10511497-126-82-46-102125-354684535134-49-7710-69-9858109-14-844432-235679917-42120867712-115488948879596-30-45-48722477121', N'Na', N'Mae', N'UK', CAST(N'2024-01-01' AS Date), 1, N'https://firebasestorage.googleapis.com/v0/b/film-lovers-6033d.appspot.com/o/avatar-user%2Fistockphoto-168257994-2048x2048.jpg?alt=media&token=55c7e1fe-ed18-48cb-b2f9-6a7df387c4fb', N'user')
GO
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[CastPerson] ([film_id], [person_id], [character], [checked_status], [send_at], [account_id]) VALUES (1, 3, N'Cobb', N'approved', NULL, NULL)
INSERT [dbo].[CastPerson] ([film_id], [person_id], [character], [checked_status], [send_at], [account_id]) VALUES (1, 8, N'Miles', N'approved', NULL, NULL)
GO
INSERT [dbo].[FavouriteFilm] ([playlist_id], [film_id], [note]) VALUES (1, 1, NULL)
INSERT [dbo].[FavouriteFilm] ([playlist_id], [film_id], [note]) VALUES (2, 1, NULL)
INSERT [dbo].[FavouriteFilm] ([playlist_id], [film_id], [note]) VALUES (2, 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[Film_Genre] ([genre_name], [film_id], [checked_status], [send_at], [account_id]) VALUES (N'Action', 1, N'approved', NULL, NULL)
INSERT [dbo].[Film_Genre] ([genre_name], [film_id], [checked_status], [send_at], [account_id]) VALUES (N'Action', 2, N'approved', NULL, NULL)
INSERT [dbo].[Film_Genre] ([genre_name], [film_id], [checked_status], [send_at], [account_id]) VALUES (N'Action', 6, N'approved', NULL, NULL)
GO
INSERT [dbo].[Genre] ([name]) VALUES (N'Action')
INSERT [dbo].[Genre] ([name]) VALUES (N'Adventure')
INSERT [dbo].[Genre] ([name]) VALUES (N'Animation')
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([id], [firstname], [lastname], [gender], [image_link], [date_of_birth], [short_bio]) VALUES (1, N'Tom', N'Hanks', N'male', N'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/xndWFsBlClOJFRdhSt4NBwiPq2o.jpg', CAST(N'1956-07-09' AS Date), N'Thomas Jeffrey Hanks (born July 9, 1956) is an American actor and filmmaker. Known for both his comedic and dramatic roles, Hanks is one of the most popular and recognizable film stars worldwide, and is widely regarded as an American cultural icon.')
INSERT [dbo].[Person] ([id], [firstname], [lastname], [gender], [image_link], [date_of_birth], [short_bio]) VALUES (3, N'Leonardo', N'DiCaprio', N'male', N'https://media.themoviedb.org/t/p/w300_and_h450_bestv2/wo2hJpn04vbtmh0B9utCFdsQhxM.jpg', CAST(N'1974-11-11' AS Date), N'Leonardo Wilhelm DiCaprio (born November 11, 1974) is an American actor and film producer. Known for his work in biopics and period films, DiCaprio is the recipient of numerous accolades, including an Academy Award, a British Academy Film Award, and three Golden Globe Awards.')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Photo] ON 

INSERT [dbo].[Photo] ([id], [film_id], [image_link], [title], [checked_status], [send_at], [account_id]) VALUES (1, 7, N'https://people.com/thmb/VgU0Gxd8wHrZ9vW60NaWPEZx-pg=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(670x0:672x2):format(webp)/MSDFOGU_EC001_preview-6f5fe67fd675494d82cf8ac3cb34ce45.jpg', N'Tom Hanks as Forrest is running', N'approved', NULL, NULL)
INSERT [dbo].[Photo] ([id], [film_id], [image_link], [title], [checked_status], [send_at], [account_id]) VALUES (2, 1, N'https://image.tmdb.org/t/p/w1280/jXE9uOtbE1BhnPgk5pioQ6aGEFy.jpg', N'INCEPTION POSTER', NULL, NULL, NULL)
INSERT [dbo].[Photo] ([id], [film_id], [image_link], [title], [checked_status], [send_at], [account_id]) VALUES (3, 2, N'https://image.tmdb.org/t/p/w1280/qJ2tW6WMUDux911r6m7haRef0WH.jpg', N'THE DARK KNIGHT POSTER', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Photo] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayList] ON 

INSERT [dbo].[PlayList] ([id], [name], [is_public], [account_id]) VALUES (1, N'Weekend Holiday', NULL, 4)
INSERT [dbo].[PlayList] ([id], [name], [is_public], [account_id]) VALUES (2, N'Watch Later', NULL, 3)
INSERT [dbo].[PlayList] ([id], [name], [is_public], [account_id]) VALUES (3, N'Favourite', NULL, 4)
SET IDENTITY_INSERT [dbo].[PlayList] OFF
GO
INSERT [dbo].[Rating] ([account_id], [film_id], [score], [review_id], [rated_at]) VALUES (2, 1, 9, 107, CAST(N'2023-09-03' AS Date))
INSERT [dbo].[Rating] ([account_id], [film_id], [score], [review_id], [rated_at]) VALUES (2, 7, 1, 108, CAST(N'2023-09-17' AS Date))
INSERT [dbo].[Rating] ([account_id], [film_id], [score], [review_id], [rated_at]) VALUES (2, 40, 8, 660, CAST(N'2022-01-16' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([id], [title], [content], [is_spoiler], [film_id], [account_id], [send_at]) VALUES (10, N'CAPTIVATING! HEART-WRENCHING!... ALSO DISTURBING.', N'I don''t know what else to say, this movie can''t be expressed by mere words. It portrays such disturbing events through such colorful, uplifting images, which only few pictures could do (such as Midsommar). The only factor that makes it lost a point from me is it''d taken me on a ride, by its title and its graphics.', 0, 37, 3, CAST(N'2024-03-19' AS Date))
INSERT [dbo].[Review] ([id], [title], [content], [is_spoiler], [film_id], [account_id], [send_at]) VALUES (11, N'Worse than I expected!', N'Despite promising elements, such as exploring astral projection and family dynamics, the film falls short in execution. The plot feels convoluted, with underdeveloped characters and predictable scares. While the visual effects are decent, they fail to compensate for the lackluster storytelling. Overall, "Worse than I expected!" fails to live up to its potential, earning a mediocre rating of 5 out of 10.', 0, 114, 3, CAST(N'2024-03-19' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([id], [film_id], [url], [title], [type], [checked_status], [send_at], [account_id]) VALUES (1, 7, N'https://youtu.be/bLvqoHBptjg?si=fZufHryVa7x3xexb', NULL, NULL, N'rejected', NULL, NULL)
INSERT [dbo].[Video] ([id], [film_id], [url], [title], [type], [checked_status], [send_at], [account_id]) VALUES (4, 1, N'https://www.youtube.com/watch?v=bCkGaym6SSQ', N'abc', N'bts', N'processing', CAST(N'2024-03-19' AS Date), 3)
INSERT [dbo].[Video] ([id], [film_id], [url], [title], [type], [checked_status], [send_at], [account_id]) VALUES (9, 5, N'https://www.youtube.com/watch?v=bCkGaym6SSQ', N'abc', N'bts', N'processing', CAST(N'2024-03-19' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Video] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Email]    Script Date: 4/2/2024 8:21:52 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ_Email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Username]    Script Date: 4/2/2024 8:21:52 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UQ_Username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Title_Country_ReleaseYear]    Script Date: 4/2/2024 8:21:52 PM ******/
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [UC_Title_Country_ReleaseYear] UNIQUE NONCLUSTERED 
(
	[title] ASC,
	[country] ASC,
	[release_year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_visible_status]  DEFAULT ('show') FOR [visible_status]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_add_date]  DEFAULT (getdate()) FOR [add_date]
GO
ALTER TABLE [dbo].[CastPerson]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[CastPerson]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[CastPerson]  WITH CHECK ADD FOREIGN KEY([person_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[CrewPerson]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[CrewPerson]  WITH CHECK ADD FOREIGN KEY([person_id])
REFERENCES [dbo].[Person] ([id])
GO
ALTER TABLE [dbo].[CrewPerson]  WITH CHECK ADD FOREIGN KEY([position_id])
REFERENCES [dbo].[CrewPosition] ([id])
GO
ALTER TABLE [dbo].[FavouriteFilm]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[FavouriteFilm]  WITH CHECK ADD FOREIGN KEY([playlist_id])
REFERENCES [dbo].[PlayList] ([id])
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD FOREIGN KEY([genre_name])
REFERENCES [dbo].[Genre] ([name])
GO
ALTER TABLE [dbo].[Film_Keyword]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[Film_Keyword]  WITH CHECK ADD FOREIGN KEY([keyword])
REFERENCES [dbo].[Keyword] ([name])
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[PlayList]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[Review] ([id])
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Reaction]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[Review] ([id])
GO
ALTER TABLE [dbo].[ReportReview]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[ReportReview]  WITH CHECK ADD FOREIGN KEY([reason_id])
REFERENCES [dbo].[ReportReason] ([id])
GO
ALTER TABLE [dbo].[ReportReview]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[Review] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[Film] ([id])
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD CHECK  (([role]='user' OR [role]='admin'))
GO
ALTER TABLE [dbo].[CastPerson]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[CrewPerson]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD CHECK  (([release_month]>=(1) AND [release_month]<=(12)))
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD CHECK  (([release_status]='cancelled' OR [release_status]='postponed' OR [release_status]='upcoming' OR [release_status]='done' OR [release_status]='on-going'))
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD CHECK  (([type]='series' OR [type]='movie'))
GO
ALTER TABLE [dbo].[Film]  WITH CHECK ADD CHECK  (([visible_status]='hidden' OR [visible_status]='show'))
GO
ALTER TABLE [dbo].[Film_Genre]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD CHECK  (([gender]='female' OR [gender]='male'))
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD CHECK  (([score]>=(1) AND [score]<=(10)))
GO
ALTER TABLE [dbo].[ReportReview]  WITH CHECK ADD CHECK  (([status]='approved' OR [status]='rejected' OR [status]='proccessing'))
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD CHECK  (([checked_status]='rejected' OR [checked_status]='approved' OR [checked_status]='processing'))
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD CHECK  (([type]='bts' OR [type]='interview' OR [type]='scene' OR [type]='teaser' OR [type]='trailer'))
GO
/****** Object:  StoredProcedure [dbo].[pr_addRatingWithReview]    Script Date: 4/2/2024 8:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_addRatingWithReview]
	@account_id int, @film_id int, @score int, @rate_at Date,
	@title nvarchar(100), @content nvarchar(1000), @is_spoiler bit, 
	@result int output
	as
	select @result = 0
	insert into Review ([title],[content],[is_spoiler],[send_at], [film_id],[account_id])
	VALUES (@title, @content,@is_spoiler,@rate_at,@film_id,@account_id)

	declare @review_id int
	select @review_id = id
	from Review
	where film_id = @film_id AND account_id = @account_id

	insert into Rating(account_id, film_id, score, rated_at, review_id)
	values (@account_id, @film_id, @score, @rate_at, @review_id)

	select @result = count(review_id)
	from Rating
	where account_id = @account_id AND film_id = @film_id
GO
/****** Object:  StoredProcedure [dbo].[pr_addReviewToRating]    Script Date: 4/2/2024 8:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_addReviewToRating]
	@account_id int, @film_id int, @title nvarchar(100), @content nvarchar(1000), 
	@is_spoiler bit, @send_at Date,
	@result int output
	as
	insert into Review ([title],[content],[is_spoiler],[send_at], [film_id],[account_id])
	VALUES (@title, @content,@is_spoiler,@send_at,@film_id,@account_id)

	declare @review_id int
	select @review_id = id
	from Review
	where film_id = @film_id AND account_id = @account_id

	update Rating
	set review_id = @review_id
	where film_id = @film_id AND account_id = @account_id

	select @result = count(review_id)
	from Rating
	where account_id = @account_id AND film_id = @film_id
GO
USE [master]
GO
