body {
  margin: 0;
}
.add_rv_container {
  width: 907px;
  background: #e6e6e6;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}
.close_btn {
  position: absolute;
  right: 20px;
}
.add_rv_header {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rv_name {
  font-size: 30px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  color: #b31313;
}
.add_ur_rv_title {
  font-size: 50px;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
}
.title_left {
  display: flex;
  gap: 20px;
}
.close_btn {
  position: absolute;
  right: 20px;
}
.title_spoiler {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
}
.content_spoiler {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}
.submit_rv_btn {
    width: 100%;
    height: 53px;
    border-radius: 15px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 20px;
  }