<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./userReview.css" />
    <title>User Review</title>
  </head>
  <body>
    <div class="body_container">
      <div class="container_left">
        <div class="introduct_container">
          <div class="film_img">
            <img
              src="../assets/mai_teaser.jpg"
              width="100%"
              height="100%"
              style="border-radius: 10px"
              alt=""
            />
          </div>
          <div>
            <div class=""><span class="film_name">Name</span>(?) (Year)</div>
            <div class="user_reviews_film">User Reviews</div>
            <a href="" class="add_ur_rv">+ Add your review</a>
          </div>
        </div>
        <div style="margin-top: 50px">
          <div>
            <span class="count_rv">2,763 Reviews</span>
            <span class="count_page">217 Pages</span>
          </div>
          <div class="filter_review">
            <div class="text_filter">
              <input type="checkbox" name="" id="" />Hide Spoilers
            </div>
            <div style="display: flex; align-items: center">
              <div class="text_filter">Filter by Rating:</div>
              <select class="option_cus" name="" id="">
                <option value="">Show all</option>
              </select>
            </div>
            <div class="" style="display: flex; align-items: center">
              <div class="text_filter">Sort by:</div>
              <select class="option_cus" name="" id="">
                <option class="featured" value="">Featured</option>
              </select>
              <img
                src="../assets/Swap_btn.png"
                style="margin-left: 10px"
                alt=""
              />
            </div>
          </div>
          <div class="review_1">
            <div class="review_1_container">
              <div class="rating_user_container">
                <img src="../assets/star_yellow.png" alt="" /><span
                  class="rating_user"
                  >8.1/</span
                >
                10
              </div>
              <div class="rv_heading">Review heading</div>
              <div class="rv_on_date">
                <div class="name_user_rv">trungtruong2209</div>
                <div class="date_rv">19 Aug 2022</div>
              </div>
              <div class="comment_of_user">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. <br /><br />Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui....
              </div>
              <button class="see_more_rv">
                See more <img src="../assets/dropdown_brown.png" alt="" />
              </button>
            </div>
            <div class="like_rp">
              <div class="like_dislike">
                <div style="display: flex; align-items: center">
                  <div><img src="../assets/like.png" alt="" /></div>
                  <div style="padding-left: 10px">helpful 136</div>
                </div>
                <div style="display: flex; align-items: center">
                  <div>
                    <img src="../assets/dislike.png" alt="" />
                  </div>
                  <div style="padding-left: 10px">12</div>
                </div>
              </div>
              <div><img src="../assets/flag.png" alt="" /></div>
            </div>
          </div>
          <div class="review_1">
            <div class="review_1_container">
              <div class="rating_user_container">
                <img src="../assets/star_yellow.png" alt="" /><span
                  class="rating_user"
                  >4.6/</span
                >
                10
              </div>
              <div class="rv_heading">Review heading</div>
              <div class="rv_on_date">
                <div class="name_user_rv">trungtruong2209</div>
                <div class="date_rv">19 Aug 2022</div>
              </div>
              <div class="spoiler">Warning: Spoilers</div>
              <button class="see_more_rv">
                See review <img src="../assets/dropdown_brown.png" alt="" />
              </button>
            </div>
            <div class="like_rp">
              <div class="like_dislike">
                <div style="display: flex; align-items: center">
                  <div><img src="../assets/like.png" alt="" /></div>
                  <div style="padding-left: 10px">helpful 136</div>
                </div>
                <div style="display: flex; align-items: center">
                  <div>
                    <img src="../assets/dislike.png" alt="" />
                  </div>
                  <div style="padding-left: 10px">12</div>
                </div>
              </div>
              <div><img src="../assets/flag.png" alt="" /></div>
            </div>
          </div>
          <div class="review_1">
            <div class="review_1_container">
              <div class="rating_user_container">
                <img src="../assets/star_yellow.png" alt="" /><span
                  class="rating_user"
                  >8.1/</span
                >
                10
              </div>
              <div class="rv_heading">Review heading</div>
              <div class="rv_on_date">
                <div class="name_user_rv">trungtruong2209</div>
                <div class="date_rv">19 Aug 2022</div>
              </div>
              <div class="comment_of_user">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. <br /><br />Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui....
              </div>
              <button class="see_more_rv">
                See more <img src="../assets/dropdown_brown.png" alt="" />
              </button>
            </div>
            <div class="like_rp">
              <div class="like_dislike">
                <div style="display: flex; align-items: center">
                  <div><img src="../assets/like.png" alt="" /></div>
                  <div style="padding-left: 10px">helpful 136</div>
                </div>
                <div style="display: flex; align-items: center">
                  <div>
                    <img src="../assets/dislike.png" alt="" />
                  </div>
                  <div style="padding-left: 10px">12</div>
                </div>
              </div>
              <div><img src="../assets/flag.png" alt="" /></div>
            </div>
          </div>
          <div class="review_1">
            <div class="review_1_container">
              <div class="rating_user_container">
                <img src="../assets/star_yellow.png" alt="" /><span
                  class="rating_user"
                  >8.1/</span
                >
                10
              </div>
              <div class="rv_heading">Review heading</div>
              <div class="rv_on_date">
                <div class="name_user_rv">trungtruong2209</div>
                <div class="date_rv">19 Aug 2022</div>
              </div>
              <div class="comment_of_user">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. <br /><br />Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui....
              </div>
              <button class="see_more_rv">
                See more <img src="../assets/dropdown_brown.png" alt="" />
              </button>
            </div>
            <div class="like_rp">
              <div class="like_dislike">
                <div style="display: flex; align-items: center">
                  <div><img src="../assets/like.png" alt="" /></div>
                  <div style="padding-left: 10px">helpful 136</div>
                </div>
                <div style="display: flex; align-items: center">
                  <div>
                    <img src="../assets/dislike.png" alt="" />
                  </div>
                  <div style="padding-left: 10px">12</div>
                </div>
              </div>
              <div><img src="../assets/flag.png" alt="" /></div>
            </div>
          </div>
          <div class="review_1">
            <div class="review_1_container">
              <div class="rating_user_container">
                <img src="../assets/star_yellow.png" alt="" /><span
                  class="rating_user"
                  >4.6/</span
                >
                10
              </div>
              <div class="rv_heading">Review heading</div>
              <div class="rv_on_date">
                <div class="name_user_rv">trungtruong2209</div>
                <div class="date_rv">19 Aug 2022</div>
              </div>
              <div class="spoiler">Warning: Spoilers</div>
              <button class="see_more_rv">
                See review <img src="../assets/dropdown_brown.png" alt="" />
              </button>
            </div>
            <div class="like_rp">
              <div class="like_dislike">
                <div style="display: flex; align-items: center">
                  <div><img src="../assets/like.png" alt="" /></div>
                  <div style="padding-left: 10px">helpful 136</div>
                </div>
                <div style="display: flex; align-items: center">
                  <div>
                    <img src="../assets/dislike.png" alt="" />
                  </div>
                  <div style="padding-left: 10px">12</div>
                </div>
              </div>
              <div><img src="../assets/flag.png" alt="" /></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container_right">
        <div class="demo_film">
          <div class="name_demo">Name</div>
          <div class="container_demo">
            <div class="title_demo">Details</div>
            <div class="content_demo">Full Cast and Crew</div>
          </div>
          <div class="container_demo">
            <div class="title_demo">Photo & Video</div>
            <div class="content_demo">Photo Gallery</div>
            <div class="content_demo">Trailers and Videos</div>
          </div>
          <div class="container_demo">
            <div class="title_demo">Opinion</div>
            <div class="content_demo">User Reviews</div>
          </div>
          <div class="show_less">
            <img src="../assets/arrow_up.png" alt="" />Show less
          </div>
        </div>
      </div>
    </div>
    <div class="recently_container">
      <div class="recently_top">
        <div class="recently_title">Recently Viewed</div>
        <div class="clear_history">clear your history</div>
      </div>
      <div class="slider-container">
        <button class="scroll-btn left" data-target="recentView">&lt;</button>
        <!--  -->
        <div class="recent_view" id="recentView">
          <div class="div_items_trending">
            <div class="items_trending">
              <img
                src="../assets/mai_teaser.jpg"
                width="169px"
                height="240px"
                style="border-radius: 10px"
              />
              <div class="star_rating">
                <div class="rating">8.1</div>
              </div>
            </div>
            <div class="item_name">Name</div>
            <div class="item_type_and_year">Type</div>
            <div class="item_type_and_year">Year</div>
          </div>
        </div>
        <!--  -->
        <button class="scroll-btn right" data-target="recentView">&gt;</button>
      </div>
    </div>
    <script src="./userReview.js"></script>
  </body>
</html>
