* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  list-style: none;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
}
